.headertext {
        
        color: antiquewhite;
        font-family: 'Varela Round', sans-serif;
    }
.social {
  display: inline-grid;
  vertical-align: middle;
  justify-content: center;
  width: 10%;
  margin: 1px;
  min-width: 50px;
}

.social:hover {
    transform: scale(1.3);
}


.maingrid {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    
}

.imggrid {
    width: 200px;
    height: 200px;
    flex: 33%;
    padding: 1%;
    align-self: center;
    justify-self: center;
    margin: auto;
}
.imggrid:hover {
    opacity: .75;
}











