
.headertext {
        text-shadow: 2px 2px black;
        color: antiquewhite;
        font-family: 'Varela Round', sans-serif;
    }
.social {
  display: inline-grid;
  vertical-align: middle;
  justify-content: center;
  width: 10%;
  margin: 1px;
  min-width: 50px;
}

.social:hover {
    transform: scale(1.3);
}


#message {
    
}








